<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../resources/style.css">
    <title>Jasuv</title>
</head>

<body>
    <div id="banner">Welcome to my epic website!</div>
    <nav class="menue">
        <ul>
            <span><a id="bar-item" href="../index.html">home page</a></span>
            <span><a id="bar-item" href="./two.html">resources</a></span>
            <span><a id="bar-item" href="./three.html">animation</a></span>
            <span><a id="bar-item" href="./four.html">boids sim</a></span>
        </ul>
    </nav>
    <h1>SVG Animation is easy!</h1>
    <img src="../resources/page-three.svg" alt="orbit" id="orbit">
</body>

</html>